@(title: String = "Ruber!")


@import play.api.Play.current
@import helper._
@import helper.twitterBootstrap._

@main(title) {
    @if(session.get("username")) {
        <div class="container">
            <div class="row">
                <div class="col-lg-6 user-details">
                    <div id="driversList">
                        <h2>Drivers</h2>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name </th>
                                    <th>Email</th>
                                    <th>Driver products</th>
                                </tr>
                            </thead>
                            <tbody id="constructDriverData">
                            </tbody>
                        </table>
                    </div >
                </div>
                <div class="col-lg-6 user-details">
                    <div id="productsList">
                        <h2 id="nameOfDriver">Product</h2>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Display name </th>
                                    <th>capacity</th>
                                    <th>Driver products</th>
                                </tr>
                            </thead>
                            <tbody id="constructroductsListData">
                            </tbody>
                        </table>
                    </div >
                </div>
            </div>
        </div>

    }
}