@(title: String = "Ruber!")

@import play.api.Play.current

@main(title) {

    <h2>Welcome to Ruber</h2>

    @if(session.get("username")) {

        <h3>Good to see you again @{session.get("displayName")}!</h3>


        <input class="btn btn-default" type="button" value="Get my trips" onclick="getRiderHistory()"/>
        <input class="btn btn-default" type="button" value="Get my trips" onclick="getProducts()"/>

        <h2>Trip history</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Request Time</th>
                    <th>Product Id</th>
                    <th>status</th>
                    <th>distance</th>
                    <th>start time</th>
                    <th>end time</th>
                    <th>startLongitude</th>
                    <th>endLongitude</th>
                    <th>startLatitude</th>
                    <th>endLatitude</th>
                    <th>riderId</th>
                </tr>
            </thead>
            <tbody id="constructTripData">
            </tbody>
        </table>
                    } else {

        <h3>Looks like you're new here!</h3>
        <p>
            <a class="btn" href="@routes.SignupController.blank()">Sign up</a>
            <a class="btn" href="@routes.LoginController.blank()">Login</a>
        </p>
    }
}