@(title: String = "Ruber", nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Ruber</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/custom.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/main.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.Application.index()">Ruber</a>
                    <ul class="nav navbar-nav">
                        @if(session.get("username")) {
                            <li>
                                <a href="@routes.LoginController.logout()">Logout</a>
                            </li>
                        } else {
                           <!-- <li class="@("active".when(nav == "signup"))">
                                <a href="@routes.SignupController.blank()">Sign up bot</a>
                            </li>
                            <li class="@("active".when(nav == "login"))">
                                <a href="@routes.LoginController.login()">Login bot</a>
                            </li>  -->
                        }
                    </ul>
                </div>
            </div>

        </div>

        <div class="container">

            <div class="content">
                @if(session.get("username")){
                    <div class="page-header">
                        <h1>@title</h1>
                    </div>
                }

                <div class="row">
                    <div class="span14">
                    @content
                    </div>
                </div>

            </div>

        </div>
        <div class="footer custFooter">
            <div class="container" >
                <span>Ruber service</span>
            </div>
        </div>
    </body>
</html>
